<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Soda Tacker!</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<a th:href="@{/}"><h1>Soda Tracker!</h1></a>
<nav><a th:href="@{/}" class="last_nav">/home</a></nav>
<form th:action="@{/soda}" method="post" id="form" name="form">
    <label>Push Count: </label>
    <div class="input_group">
        <button id="minusCount">-</button>
        <span id="temp_pushCount">3</span>
        <button id="addCount">+</button>
        <input type="hidden" name="pushCount" value="3" id="pushCount">
    </div>


    <br>
    <br>
    <label>Build Time: </label>
    <div class="input_group">
        <input type="datetime-local" name="temp_buildAt" id="temp_buildAt">
        <input type="hidden" name="buildAt" id="buildAt">
    </div>

    <br>
    <br>
    <div>
        <button type="submit" id="submit_btn" class="btn">save</button>
    </div>
</form>

<a th:href="@{'/cylinder/' + ${cylinderInfo.getId()}}"><h2>Cylinder info</h2></a>

<div>
    <span>Total push count </span><span class="emp" th:text="${cylinderInfo.getTotalCount()}"></span>
</div>
<div>
    <span>Drink </span><span class="emp" th:text="${cylinderInfo.getDrinkPerDay()}"></span><span> liter per day</span>
</div>
<div>
    <span>Using </span><span class="emp" th:text="${cylinderInfo.getPeriod()}"></span><span> days</span>
</div>
<div>
    <a th:href="@{'/cylinder/' + ${cylinderInfo.getId()}}"><button class="btn">Detail</button></a>
</div>
<div>
    <button onclick="exhaustGas()" class="danger btn">Gas Exhausted</button>
    <input type="hidden" th:value="@{'/exhaust/' + ${cylinderInfo.getId()}}" id="exhaustPath">
</div>
<br>
<div>
    <a th:href="@{/cylinder}"><button class="btn">Cylinder list</button></a>
</div>

<script th:src="@{/js/index.js}"></script>
</body>
</html>